<h1><%= @sector.name %>Page</h1>

<%= link_to "New System", new_sector_system_path(@sector), :class => "button"  %><br />

<% @sector.systems.each do |system| %>
  <p><%= system.name %></p>
<% end %>
