<div class='page-center page-down'>
  <h1>Add A Planet</h1>

    <% if @planet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@planet.errors.count, "error") %> prohibited this issue from being saved:</h2>

          <ul>
          <% @planet.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <%= render 'planets/form', planet: @planet %>

</div>
