<div class='page-center page-down'>
  <h5> Welcome to Starbound Planets, <%= current_user.username %> </h5>
  <%= link_to "Add Planet", new_planet_path, :class => "btn btn-primary"  %>
  <h2> Last 10 Planets </h2>

  <%= render 'last10planets' %>

  <%= link_to "View all the Planets",  planets_path, :class => "btn btn-primary" %>
</div>
