<h1> Welcome to Starbound Planets </h1>
<%= link_to "View all the Planets",  planets_path %> <br>
<%= link_to "View all the Moons", moons_path %> <br>
<%= link_to "View all the Asteroid Fields", asteroid_fields_path %>
