/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.alert {
  width: 100%;
  z-index: 4999;
  position: absolute;
  top: 40px;
}

/*----------
Welcome page
----------*/
.header-wrap {
  background: url('https://s3-us-west-2.amazonaws.com/flash-app/galaxy-header.jpg') no-repeat top center;
  height: 600px;
  background-size:100% 500px;
}

.header-text {
  padding-top: 100px;
  position: relative;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

/*--------
Move page container
--------*/
.page-center {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.page-down {
  margin-top: 75px;
}
